.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
	margin:0 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap :7rem;
    padding: 2rem;
}

.container div{
	box-shadow: 5px 10px #2ed096;
	border: 0.4px solid lightgrey;
	border-radius: 10px;
	width: 250px;
	height: 120px;
	font-family: Cuprum;
	width: 100%;
	text-align: center;
}

.container div p{
	padding-top: 10%;
	font-size:20px
}

.containerUpload{
	margin:2% 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :2rem;
	padding: 2rem;
}

.containerUpload div{
	border: 1.6px dashed #057d53;
	width: 300px;
	height: 150px;
	font-family: Cuprum;
	text-align: center;
}

.upload{
	height: 70%;
	width: 100%;
	margin-top: 5%;
}

