.Applogo {
    /* height: 40vmin; */
    height: 45px;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Applogo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .navBar{
    background-color: black;
    padding: 5px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    margin: 0;
  }

  /* .navBar ul:after {
    content: "";
    display: block;
    clear: both;
  }  */

  .navBar li{
    list-style-type: none;
    margin: 0 7px;
    color: #fff;
    float: left;
    font-size:1.1rem;
    padding: 0.8rem 50px;
    cursor: pointer;
  }

  .navBar .Applogo{
    float: left
  }

  .navBar a{
    color: white; 
   text-decoration: none;
  }

  #avatar {
    float: left;
    width: 40px;
    height: 40px;
    background:#2ed096;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    text-align: center; 
    margin-top: 0.3% ;
  }

 #avatar h3{
    color: white;
    font-size: 18px;
    line-height: 12px;
    font-weight: bold;
    font-family: 'Cuprum', sans-serif;
    padding: 30%;
  }


  
  

  

  